.home-header {
  border-bottom: 2px solid black;
}

.home-header h1, a {
  margin-left: 5px;
  text-decoration: none;
  display: inline-block;
}

.user-info {
  float: right;
  width: 200px;
}

.info-block {
  width: 100%;
}

.user-info p {
  display: block;
  margin: 0 0 10px 0;
}

button:hover, select:hover {
  cursor: pointer;
}

.banner {
  border-bottom: 2px solid black;
  padding: 60px 0 50px 0;
  text-align: center;
}

.banner h1{
  margin-bottom: 20px;
}

.banner button{
  margin: 20px 0;
}

.login-info {
  text-align: left;
  max-width: 600px;
  margin: 60px auto;
}

.info {
  max-width: 600px;
  margin: 60px auto;
}

.info p {
  margin: 15px 0;
}

.info ol {
  padding-right: 60px;
}

.info li {
  margin: 10px 0;
}

.clientListHeader {
  width: 600px;
  margin: 5px auto;
}

.clientList {
  width: 600px;
  height: 300px;
  border: 2px solid black;
  overflow-y: scroll;
}

.clientListItem {
  padding: 20px;
  border-bottom: 1px solid black;
}

.clientListItem h2 {
  display: inline;
}

.clientListItem button {
  margin: 0 5px;
  float: right;
}

.selected {
  background-color: lightgray;
}

.workoutContatiner {
  width: 600px;
  min-height: 300px;
  border: 2px solid black;
  margin: 50px auto;
}

.workoutHeader {
  width: 74%;
  display: inline-block;
  text-align: center;
}

.workoutHeader button, h3 {
  display: inline-block;
}

.workoutGraph {
  width: 74%;
  min-height: 250px;
  display: inline-block;
  text-align: center;
}
.workoutGraph h2 {
  text-align: center;
}

.workoutSidebar {
  width: 24%;
  height: 100%;
  float: right;
}

.newWorkoutModal {
  border: 1px solid black;
  text-align: center;
}

.label {
  display: inline-block;
  border: 2px solid white;
  margin: 0;
  padding: 1px 2px;
  color: black;
  width: 100px;
  text-align: left;
}

.selectLabel {
  display: inline-block;
  border: 2px solid white;
  margin: 0;
  padding: 1px 2px;
  color: black;
  width: 150px;
  text-align: left;
}

.workoutInput {
  width: 100px;
  text-align: right;
}

.workoutInputSelect {
  width: 150px;
  text-align: right;
}

.exerciseProgressContatiner {
  width: 600px;
  min-height: 300px;
  border: 1.5px solid black;
  margin: 50px auto;
}

.exerciseProgressGraph {
  width: 100%;
  min-height: 250px;
  display: inline-block;
  text-align: center;
}

.progressLabel {
  display: inline-block;
}

.HomePage{
  display: flex;
  justify-content: center;
}

footer {
  border-top: 2px solid black;
  padding: 10px 0;
  text-align: center;
}

.error {
  color: red;
  border: 1px solid red;
  width: 50px;
}
