* {
  margin: 0 auto;
  /*border-spacing: border-box;*/
}

.home-header {
  border-bottom: 2px solid black;
}
.home-header div {
  margin: 5px 0 0 5px;
  height: 50px;
  width: 50px ;
  display: inline-block;
  background-color: green;
}

.home-header h1, a {
  margin-left: 5px;
  text-decoration: none;
  display: inline-block;
}

.banner {
  border-bottom: 2px solid black;
  padding: 60px 0 50px 0;
  text-align: center;
}

.banner h1{
  margin-bottom: 20px;
}

.banner button{
  margin: 20px 0;
}

.info {
  padding: 80px 20vw;
  border-bottom: 2px solid black;
}

.info p {
  margin: 15px 0;
}

footer {
  padding: 10px 0;
  text-align: center;
}
