.home-header {
  border-bottom: 2px solid black;
}

.home-header .logo {
  margin: 5px 0 0 5px;
  height: 50px;
  width: 50px ;
  display: inline-block;
  background-color: green;
}

.home-header h1, a {
  margin-left: 5px;
  text-decoration: none;
  display: inline-block;
}

.user-info {
  float: right;
  width: 200px;
}

.info-block {
  width: 100%;
  display: inline-block;
}

.user-info p {
  display: block;
  margin: 0 0 10px 0;
}

.user-info .user-img {
  background-color: pink;
  height: 60px;
  width: 50%;
  display: inline-block;
}

.banner {
  border-bottom: 2px solid black;
  padding: 60px 0 50px 0;
  text-align: center;
}

.banner h1{
  margin-bottom: 20px;
}

.banner button{
  margin: 20px 0;
}

.info {
  padding: 80px 20vw;
}

.info p {
  margin: 15px 0;
}

.clientListHeader {
  width: 600px;
  margin: 5px auto;
}

.clientList {
  width: 600px;
  height: 300px;
  border: 2px solid black;
  margin: 0 auto;
  overflow-y: scroll;
}

.clientListItem {
  /* width: 100%; */
  border-bottom: 1px solid black;
  margin: 0 auto;
}

.workoutContatiner {
  width: 600px;
  min-height: 300px;
  border: 2px solid black;
  margin: 50px auto;
}

.workoutHeader {
  width: 74%;
  /* height: 200px; */
  /* border: 2px solid purple; */
  display: inline-block;
  text-align: center;
  /* margin: 50px auto; */
}

.workoutHeader button, h3 {
  display: inline-block;
}

.workoutGraph {
  width: 74%;
  height: 250px;
  border: 2px solid black;
  display: inline-block;
  overflow-y: scroll;
  /* margin: 50px auto; */
}

.workoutSidebar {
  width: 24%;
  height: 100%;
  /* border: 2px solid green; */
  float: right;
  /* margin: 50px auto; */
}

.newWorkoutModal {
  border: 1px solid black;
  text-align: center;
}

.label {
  display: inline-block;
  border: 2px solid white;
  margin: 0;
  padding: 1px 2px;
  color: black;
  width: 100px;
  text-align: left;
}

.selectLabel {
  display: inline-block;
  border: 2px solid white;
  margin: 0;
  padding: 1px 2px;
  color: black;
  width: 150px;
  text-align: left;
}

.workoutInput {
  width: 100px;
  /* padding: 0; */
  text-align: right;
}

.workoutInputSelect {
  width: 150px;
  text-align: right;
}

.exerciseProgressContatiner {
  width: 600px;
  min-height: 300px;
  border: 2px solid black;
  margin: 50px auto;
}

.exerciseProgressGraph {
  width: 100%;
  height: 250px;
  border: 1px solid black;
  display: inline-block;
  /* margin: 50px auto; */
}

.progressLabel {
  display: inline-block;
}

footer {
  border-top: 2px solid black;
  padding: 10px 0;
  text-align: center;
}

.error {
  color: red;
  border: 1px solid red;
  width: 50px;
}
