.home-header {
  border-bottom: 2px solid black;
}

.home-header .logo {
  margin: 5px 0 0 5px;
  height: 50px;
  width: 50px ;
  display: inline-block;
  background-color: green;
}

.home-header h1, a {
  margin-left: 5px;
  text-decoration: none;
  display: inline-block;
}

.user-info {
  float: right;
  width: 150px;
}

.info-block {
  width: 50%;
  display: inline-block;
}

.user-info p {
  display: block;
  margin: 0 0 10px 0;
}

.user-info .user-img {
  background-color: pink;
  height: 60px;
  width: 50%;
  display: inline-block;
}

.banner {
  border-bottom: 2px solid black;
  padding: 60px 0 50px 0;
  text-align: center;
}

.banner h1{
  margin-bottom: 20px;
}

.banner button{
  margin: 20px 0;
}

.info {
  padding: 80px 20vw;
}

.info p {
  margin: 15px 0;
}


.clientList {
  width: 600px;
  height: 300px;
  border: 2px solid black;
  margin: 50px auto;
  overflow: scroll;
}

.clientListItem {
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  margin: 0 auto;
}

.workoutGraphContatiner {
  width: 600px;
  height: 300px;
  border: 2px solid black;
  margin: 50px auto;
}

.exerciseProgressContatiner {
  width: 600px;
  height: 300px;
  border: 2px solid black;
  margin: 50px auto;
}

footer {
  border-top: 2px solid black;
  padding: 10px 0;
  text-align: center;
}
